# Mac OS Files
.DS_Store
.idea
__pycache__

# Media Files
animated_videos/*
base_images/*
final_videos/*
video_with_audio_clips/*
voice_over_audios/*

# Env files
.env
.venv
sandbox_for_testing
sandbox_for_testing/*