# Mac OS Files
.DS_Store
.idea
__pycache__

# Media Files
beta_version/animated_videos/*
beta_version/base_images/*
beta_version/final_videos/*
beta_version/video_with_audio_clips/*
beta_version/voice_over_audios/*

# Env files
.env
.venv
beta_version/sandbox_for_testing
beta_version/sandbox_for_testing/*
# files for local dev
z_*.*
*sandbox*.*

# media files
*.mp4
*.mp3
*jpg
*.db
*.png
*.json